@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes shoot {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-200px); /* Change the height as needed */
      opacity: 0;
    }
  }

  .animate-shoot {
    animation: shoot 1s forwards; /* Duration of the shooting effect */
    position: absolute;
    left: 50%;
    top: 10%; /* Start position for shooting effect */
    transform: translateX(-50%);
    z-index: 1000; /* Make sure it appears above other elements */
  }
}
